.gallery {
  position: relative;
  height: 100vh;

  @media screen and (max-width: $s2) {
    height: auto;
    padding-bottom: 80px;
  }

  .swiper {
    width: 100%;
    height: auto;

    .swiper-slide {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-width: 100%;
        border-radius: 10px;
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    z-index: 10;
    width: 20px !important;
    height: 20px !important;
    font-size: 10px !important;
    color: $accentcolor2 !important;
  }
  .swiper-pagination {
    position: absolute;
    bottom: -30px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px !important;
}

.swiper-pagination-bullet-active {
  background-color: $accentcolor2 !important;
}
