$accentcolor2: #edc94c;//#debe4e;
$accentcolor3: #5c4033;
$accentcolor4: #515943;
$white: #f9efe0;

$font_1: "Lora", serif;
$font_2: "Poppins", serif;
$font_4: "Merriweather", serif;

$s: 360px;
$s2: 490px;
$m: 576px;
$l: 768px;
$l2: 850px;
$xl: 1094px;
$xxl: 1400px;
$xxxl: 1600px;
